.screen {   
    background-color: #1E2020;
}

.body {
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}


table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    width: 50rem;
}

.color {
    background-color: #C33F29;
}

.title {
    color: white;
}

.bgcolor {
 background-color: white    ;
}