.screen {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0px 20vh;
}

.color {
  background-color: #c33f29;
}

.title {
  color: white;
}

.bgcolor {
  background-color: rgba(128, 128, 128, 0.24);
  color: white;
}

.tableContent {
  font-weight: lighter;
}

.deleteBtn {
  cursor: pointer;
}
