.header {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.addBtnContainer {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  padding-right: 20px;
}

.logoRust {
  height: 40px;
  width: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .logoRust {
    animation: App-logo-spin infinite 7s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
