.header {
    height: 10%;
    width: 100%;
}

.logoRust {
    height: 5%;
    width: 5%;
    margin: 1rem;
}

  @media (prefers-reduced-motion: no-preference) {
    .logoRust {
      animation: App-logo-spin infinite 7s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }